* {
  box-sizing: border-box;
}

#sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #01f1f1;
	height: 100%; /* Full height */
	position: fixed; /* Make it stick, even on scroll */
	overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

#sidebar li a{
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

#sidebar li a:hover {
	background-color: #555;
	color: white;
}

.active {
	background-color: #4CAF50;
	color: white;
}

.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 15%;
}

/* Middle column */
.column.middle {
  width: 85%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
