{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sequencing_run/style.css' %}" />
<form action="" method="post">
	{% csrf_token %}
	<h1>Reich Lab Ancient DNA</h1>
	{{ form.as_p }}
	<input type="submit" name="start_analysis" value="Start analysis" />
	
	<hr>
	
	{% load tz %}
	{% localtime on %}
	<h2>1240k Plus MT Analysis Runs</h2>
	
	<script>
	function load_sequencing_run_parameters(name, sequencing_run, sequencing_date, top_samples_to_demultiplex){
		document.getElementById("id_name").value = name
		document.getElementById("id_illumina_directory").value = sequencing_run
		document.getElementById("id_sequencing_date").value = sequencing_date
		document.getElementById("id_top_samples_to_demultiplex").value = top_samples_to_demultiplex
	}
	</script>
	
	<table>
		<tr>
			<th>ID</th>
			<th>Illumina Directory</th>
			<th>Sequencing Run Name</th>
			<th>Analysis Start</th>
			<th>Processing State</th>
			<th>Sequencing Date</th>
			<th>SLURM Job #</th>
			<th>Num Top Samples to Demultiplex</th>
			<th><a href="report_help">Report Help</a></th>
		</tr>
		{% for run in analysis_run_list %}
			<tr>
				<td>{{run.pk}}</td>
				<td>{{run.sequencing_run}}</td>
				<td>{{run.name}}</td>
				<td>{{run.start|date:'Y-m-d H:i e'}}</td>
				<td>{{run.get_processing_state_display}}</td>
				<td>{{run.sequencing_date|date:'Y-m-d'}}</td>
				<td>{{run.slurm_job_number}}</td>
				<td>{{run.top_samples_to_demultiplex}}</td>
				{% if run.processing_state == 5 %}
				<td>
				<button onclick="load_sequencing_run_parameters('{{ run.name }}', '{{ run.sequencing_run }}', '{{ run.sequencing_date|date:'Y-m-d' }}', '{{ run.top_samples_to_demultiplex }}')", name="get_report">Get report</button>
				</td>
				<td>
				<button onclick="load_sequencing_run_parameters('{{ run.name }}', '{{ run.sequencing_run }}', '{{ run.sequencing_date|date:'Y-m-d' }}', '{{ run.top_samples_to_demultiplex }}')", name="get_kmer">Get kmer analysis</button>
				</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
	{% endlocaltime %}
	
	<hr>
	<h2>SLURM Jobs</h2>
	<table>
	{% for job in slurm_jobs %}
		<tr>
		<td>
			{{ job }}
		</td>
		</tr>
	{% endfor %}
	</table>
</form>
