{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sequencing_run/style.css' %}" />
<form action="" method="post">
	{% csrf_token %}
	<h1>Reich Lab Ancient DNA Screening</h1>
	{{ form.as_p }}
	<input type="submit" name="start_analysis" value="Start screening analysis" />
	<input type="submit" name="get_report" value="Get report (finished only)" />
	
	<hr>
	
	{% load tz %}
	{% localtime on %}
	<h2>Screening Analysis Runs</h2>
	<table>
		<tr>
			<th>ID</th>
			<th>Illumina Directory</th>
			<th>Sequencing Run Name</th>
			<th>Analysis Start</th>
			<th>Processing State</th>
			<th>Sequencing Date</th>
			<th>SLURM Job #</th>
			<th>Num Top Samples to Demultiplex</th>
		</tr>
		{% for run in screening_run_list %}
			<tr>
				<td>{{run.pk}}</td>
				<td>{{run.sequencing_run}}</td>
				<td>{{run.name}}</td>
				<td>{{run.start|date:'Y-m-d H:i e'}}</td>
				<td>{{run.get_processing_state_display}}</td>
				<td>{{run.sequencing_date}}</td>
				<td>{{run.slurm_job_number}}</td>
				<td>{{run.top_samples_to_demultiplex}}</td>
			</tr>
		{% endfor %}
	</table>
	{% endlocaltime %}
	
	<hr>
	<h2>SLURM Jobs</h2>
	<table>
	{% for job in slurm_jobs %}
		<tr>
		<td>
			{{ job }}
		</td>
		</tr>
	{% endfor %}
	</table>
	
</form> 
