{% extends "samples/reich_lab_base.html" %}

{% load static %}

{% block title %}Powder Batch Selection For Extract Batch {{extract_batch}}{% endblock %}

{% block content %}
<script src="{% static "samples/list.js" %}"></script>

<style>
th {
	position: sticky;
	top: 0;
	background: #eee;
}

#table_wrapper{
	overflow-x: auto;
	overflow-y: scroll;
	height: 85vh;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
</style>

Extract Batch: {{extract_batch_name}} currently has {{num_powder_samples_assigned}} powder samples assigned.

<form action="" method='post'>
	{% csrf_token %}
	{{ form }}
	<input type='submit' value='Assign Powder Batches'>

<legend>Samples</legend>
<div id='powder_batch_rows'>

<input class="search" placeholder="Search" />
<div id='table_wrapper'>
<table>
	<thead>
	<tr>
		<th><input type="checkbox" name="toggle_all_checkbox" id="toggle_all_checkbox" onclick="toggle_onscreen_all()"></th>
		<th><button class="sort" data-sort="powder_batch">Powder Batch</button></th>
		<th><button class="sort" data-sort="num_samples">Num Sample Prep Entries</button></th>
		<th><button class="sort" data-sort="low_complexity">Low complexity</button></th>
		<th><button class="sort" data-sort="high_complexity">High complexity</button></th>
		<th><button class="sort" data-sort="udg">UDG Treatment</button></th>
		<th><button class="sort" data-sort="sampling_prep_protocol">Sampling Prep Protocol</button></th>
	</tr>
	</thead>
	<tbody class="list">
	{% for powder_batch in powder_batches %}
	<tr>
		<td class="checked">
			<input class="sample_checkbox" type="checkbox" name="checkboxes[]" id="checkbox_{{powder_batch.name}}" value="{{powder_batch.name}}" {% if powder_batch.checked >= 1 %}checked{% endif %}>
		</td>
		<td class="powder_batch"><a href="powder_samples?powder_batch={{powder_batch.name}}">{{powder_batch.name}}</a></td>
		<td class="num_samples">{{powder_batch.sampleprepqueue__count}}</td>
		<td class="low_complexity_count">{{powder_batch.low_complexity_count}}</td>
		<td class="high_complexity_count">{{powder_batch.high_complexity_count}}</td>
		<td class="udg">{{powder_batch.high_complexity_count}}</td>
		<td class="sampling_prep_protocol">{{powder_sample.sample_prep_protocol.preparation_method}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</form>
</div>
</div>

<script>
	var list_options = {
		valueNames: ['checked', 'powder_batch', 'num_samples', 'low_complexity_count', 'high_complexity_count', 'udg', 'sampling_prep_protocol'],
		searchDelay: 500
	};
	var sample_list = new List('powder_batch_rows', list_options);
</script>

{% endblock %}
