{% extends "samples/reich_lab_base.html" %}

{% load static %}

{% block title %}Extraction Protocols {% endblock %}

{% block content %}

<form action="" method='post'>
	{% csrf_token %}

	<input type='submit' value='Update Extraction Protocols'>
	{{ formset.management_form }}
	
	<table>
	<thead>
	<tr>
		{% for field in formset.0.visible_fields %}
			<th>{{ field.label_tag }}</th>
		{% endfor %}
	</tr>
	</thead>
	
	<tr>
		{% for field in formset.0.visible_fields %}
			<td>
				{{ field.help_text }}
			</td>
		{% endfor %}
	</tr>
	
	{% for form in formset %}
	<tr>
		{{ form.id }}
		{% for field in form.visible_fields %}
			<td>
			{{ field.errors }}
			{{ field }}
			</td>
		{% endfor %}
	</tr>
	{% endfor %}
	</table>
</form>

{% endblock %}
 
