{% extends "samples/reich_lab_base.html" %}

{% load static %}

{% block title %}{{layout_title}}: {{layout_name}}{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static "jquery-ui/jquery-ui.min.css" %}" />
<link rel="stylesheet" href="{% static "jquery-ui/themes/ui-lightness/theme.css" %}" />

<script src="{% static "jquery-ui/external/jquery/jquery.js" %}"></script>
<script src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>

<style>
	{% for row in rows %}
		{% for column in columns %}
			#{{ row }}{{ column }} { width: 100px; height: 90px; padding: 2.0em; float: left; margin: 5px; text-align: left}
		{% endfor %}
	{% endfor %}
	
	{% for object_id, position_and_widget_ui in objects_map.items %}
		#{{ position_and_widget_ui.widget_id }} { width: 90px; height: 20px; display: flex;
			justify-content: left;
			align-items: center; }
	{% endfor %}
</style>

<script>
	// build a javascript version of the python object defining layout of objects into well positions
	var objects_map_js = {};
	{% for object_id, position_and_widget_ui in objects_map.items %}
		objects_map_js[ "{{ object_id }}" ] = {
			widget_id:"{{ position_and_widget_ui.widget_id }}", 
			position:"{{ position_and_widget_ui.position }}",
			object_id:"{{ object_id }}",
			label:"{{ position_and_widget_ui.label }}"
		};
	{% endfor %}
	var objects_by_position = {}; // object ids contained in well location
	

	function remove_object_from_old_position(object_map_entry){
		let position_list = objects_by_position[object_map_entry.position]
		if (position_list != null){
			let index = position_list.indexOf(object_map_entry.object_id);
			if (index >= 0){
				position_list.splice(index, 1);
			}
		}
	}
	
	function position_object(object_map_entry){
		// put object in well position list
		if (!objects_by_position[object_map_entry.position]){
			objects_by_position[object_map_entry.position] = [];
		}
		if (!objects_by_position[object_map_entry.position].includes(object_map_entry.object_id))
			objects_by_position[object_map_entry.position].push(object_map_entry.object_id);
	}
	
	// render objects in a well position without overlap
	function layout_well(position){
		let well_objects = objects_by_position[position];
		if (well_objects != null){
			let prior_object_widget = null;
			for (let i = 0; i < well_objects.length; i++){
				let object_id = well_objects[i];
				let object_map_entry = objects_map_js[object_id];
				let gui_position_arguments = {
					my: "left bottom",
					at: "left bottom",
					of: $( "#" + position ),
					within: $( "#" + position )
				};
				if (prior_object_widget != null){
					gui_position_arguments = {
						my: "left bottom",
						at: "left top",
						of: $( "#" +  prior_object_widget ),
						within: $( "#" + position )
					};
				}
				prior_object_widget = object_map_entry.widget_id;
				
				$( "#" + object_map_entry.widget_id ).position(gui_position_arguments);
				console.log(object_map_entry.widget_id + JSON.stringify(gui_position_arguments));
			}
		}
	}
	
	function object_dropped_in_well_position(object_map_entry, well_position){
		remove_object_from_old_position(object_map_entry);
		object_map_entry.position = well_position;
		position_object(object_map_entry);
		layout_well(well_position);
	}
	
	function position_all_objects(objects_map_js){
		for(let object_map_entry in objects_map_js){
			position_object(objects_map_js[object_map_entry]);
		}
		for(let position in objects_by_position){
			layout_well(position);
		}
	}
	
	$( function() {
		{% for row in rows %}
			{% for column in columns %}
				$( "#{{ row }}{{ column }}" ).droppable({
					classes: {
						"ui-droppable-hover": "ui-state-hover"
					},
					drop: function( event, ui ) {
						let well_position = "{{ row }}{{ column }}"
						let object_id = ui.draggable[0].getAttribute('object_id');
						let object_map_entry = objects_map_js[object_id];
						object_dropped_in_well_position(object_map_entry, well_position);
					}
				});
			{% endfor %}
		{% endfor %}
	
		{% for object_id, position_and_widget_ui in objects_map.items %}
			$( "#{{ position_and_widget_ui.widget_id }}" ).draggable( { snap: ".ui-widget-header", snapMode: "inner", revert: "invalid" } );
			{% if allow_layout_modifications != True %}
			$( "#{{ position_and_widget_ui.widget_id }}" ).draggable( "option", "disabled", true);
			{% endif %}
		{% endfor %}
		position_all_objects(objects_map_js);
	} );
</script>

<script>
	function object_position_callback(){
		console.log('position callback')
	}
</script>

<h>{{layout_title}}: {{layout_name}}</h>
<body>

<div id=''>
	<form id="" method="POST">
		{% csrf_token %}
	</form>
	{% if allow_layout_modifications == True %}
	<button onclick="send_well_plate_layout(objects_map_js)">Update Layout</button>
	{% endif %}
	{% if back_link %}
	<a href='{{back_link}}'>Back to batch</a>
	{% endif %}
</div>

<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
</script>

<script>
	function send_well_plate_layout(objects_map){
		$.ajax({
			method: 'POST',
			url: '{{submit_url}}',
			headers: {
				'X-CSRFToken': csrftoken
			},
			
			data: {'layout_name': '{{layout_name}}',
				layout: JSON.stringify(objects_map)
			}
		})
		.done(function(data) {
			alert('Updated');
		})
		.fail (function( jqXHR, textStatus ) {
			alert('Update failed ' + jqXHR.responseText);
			console.log( "Request failed: " + textStatus );
			console.log('{{layout_name}}');
		});
	}
</script>

<table id=well_plate_layout>
{% for row in rows %}
	<tr>
	{% for column in columns %}
		<td>
			<div id="{{ row }}{{ column }}" class="ui-widget-header">
				<p>{{ row }}{{ column }}</p>
			</div>
		</td>
	{% endfor %}
	</tr>
{% endfor %}
</table>

{% for object_id, position_and_widget_ui in objects_map.items %}
	<div id="{{ position_and_widget_ui.widget_id }}" class="draggable ui-widget-content positionable" object_id="{{ object_id }}">
		<p>{{ position_and_widget_ui.label }}</p>
	</div>
{% endfor %}

</body>
{% endblock %}
