{% extends "samples/reich_lab_base.html" %}

{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<form action="" method='post'>
	{% csrf_token %}
	
	{{ formset.management_form }}
	
	<table>
	<thead>
	<tr>
		{% for field in formset.0.visible_fields %}
			<th>{{ field.label_tag }}</th>
		{% endfor %}
	</tr>
	</thead>
	
	<tr>
		{% for field in formset.0.visible_fields %}
			<td>
				{{ field.help_text }}
			</td>
		{% endfor %}
	</tr>
	
	{% for form in formset %}
	<tr>
		{{ form.id }}
		{% for field in form.visible_fields %}
			<td>
			{{ field.errors }}
			{{ field }}
			</td>
		{% endfor %}
	</tr>
	{% endfor %}
	</table>
	
	<input type='submit' value='{{submit_button_text}}'>
</form>

<div class="pagination">
	<span class="step-links">
		{% if formset.has_previous %}
			<a href="?page=1">&laquo; first</a>
			<a href="?page={{ formset.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current">
			Page {{ formset.number }} of {{ formset.paginator.num_pages }}.
		</span>

		{% if formset.has_next %}
			<a href="?page={{ formset.next_page_number }}">next</a>
			<a href="?page={{ formset.paginator.num_pages }}">last &raquo;</a>
		{% endif %}
	</span>
</div>

{% endblock %}
