{% extends "samples/reich_lab_base.html" %}

{% load static %}

{% block title %}Library Batches{% endblock %}

{% block content %}
<script src="{% static "samples/list.js" %}"></script>

<style>
th {
	position: sticky;
	top: 0;
	background: #eee;
}

#table_wrapper{
	overflow-x: auto;
	overflow-y: scroll;
	height: 85vh;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
</style>

<form action="" method='post'>
	{% csrf_token %}
	{{ form.as_p }}
	<input type='submit' value='Create Library Batch'>
</form>

<hr>

<div id='library_batch_rows'>

<input class="search" placeholder="Search" />
<div id='table_wrapper'>
<table>
	<thead>
	<tr>
		<th><button class="sort" data-sort="name" data-default-order='desc'>Name</button></th>
		<th><button class="sort" data-sort="status">Status</button></th>
		<th><button class="sort" data-sort="date">Date</button></th>
		<th><button class="sort" data-sort="technician">Technician</button></th>
		<th><button class="sort" data-sort="prep_robot">Prep Robot</button></th>
		<th><button class="sort" data-sort="cleanup_robot">Cleanup Robot</button></th>
		<th><button class="sort" data-sort="qpcr_machine">QPCR Machine</button></th>
		<th><button class="sort" data-sort="p7_offset">P7 Offset</button></th>
		<th><button class="sort" data-sort="notes">Notes</button></th>
		<th><button class="sort" data-sort="protocol">Protocol</button></th>
	</tr>
	</thead>
	<tbody class="list">
	{% for library_batch in library_batches %}
	<tr>
		{% if library_batch.status == library_batch.OPEN %}
		<td class="name"><a href="library_batch_assign_extract?library_batch_name={{library_batch.name}}">{{library_batch.name}}</a></td>
		{% else %}
		<td class="name"><a href="libraries_in_batch?library_batch_name={{library_batch.name}}">{{library_batch.name}}</a></td>
		{% endif %}
		<td class="date">{{library_batch.get_status}}</td>
		<td class="date">{{library_batch.prep_date|date:'Y-m-d'}}</td>
		<td class="technician">{{library_batch.technician}}</td>
		<td class="prep_robot">{{library_batch.prep_robot}}</td>
		<td class="cleanup_robot">{{library_batch.cleanup_robot}}</td>
		<td class="qpcr_machine">{{library_batch.qpcr_machine}}</td>
		<td class="p7_offset">{{library_batch.p7_offset}}</td>
		<td class="notes">{{library_batch.prep_note}}</td>
		<td class="protocol">{{library_batch.protocol.name}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</div>
</div>

<script>
	var list_options = {
		valueNames: ['name', 'date', 'protocol', 'technician', 'prep_robot', 'cleanup_robot', 'qpcr_machine', 'p7_offset', 'notes'],
		searchDelay: 500
	};
	var library_batch_list = new List('library_batch_rows', list_options);
	//document.addEventListener("load", library_batch_list.sort('date', { order: 'desc'}));
</script>

{% endblock %}
