{% extends "samples/reich_lab_base.html" %}

{% load static %}

{% block title %}Extract Selection For Library Batch {{library_batch_name}}{% endblock %}

{% block content %}
<script src="{% static "samples/list.js" %}"></script>

<style>
th {
	position: sticky;
	top: 0;
	background: #eee;
}

#table_wrapper{
	overflow-x: auto;
	overflow-y: scroll;
	height: 85vh;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
</style>

Library Batch: {{library_batch_name}} has {{assigned_extracts_count}} distinct extracts assigned {{num_assignments}} times to wells and {{control_count}} extract and library controls. These occupy {{occupied_wells}} wells. 

<form action="" method='post'>
	{% csrf_token %}
	{{ form.as_p }}
	<input type='submit' name='assign_only' value='Update and Assign Extracts'>
	<a href='library_batch_layout?library_batch_name={{library_batch_name}}'>Modify Layout</a>

<legend>Samples</legend>
<div id='sample_rows'>
<div id='sample_count'></div>

<input class="search" placeholder="Search" />
<div id='table_wrapper'>
<table>
	<thead>
	<tr>
		<th><input type="checkbox" name="toggle_all_checkbox" id="toggle_all_checkbox" onclick="toggle_onscreen_all()"></th>
		<th><button class="sort" data-sort="extract_id">Extract ID</button></th>
		<th><button class="sort" data-sort="wells">Num Assignments</button></th>
		<th><button class="sort" data-sort="sample">Sample</button></th>
		<th><button class="sort" data-sort="extract_batch">Extract Batch</button></th>
	</tr>
	</thead>
	<tbody class="list">
	{% for extract in extracts %}
	<tr>
		<td class="checked">
			<input class="sample_checkbox" type="checkbox" name="extract_checkboxes[]" id="checkbox{{extract.extract_id}}" value="{{extract.id}}" onclick="update_count()" {% if extract.assigned_to_library_batch > 0 %}checked{% endif %}>
		</td>
		<td class="extract_id">{{extract.extract_id}}</td>
		<td class="wells">{{extract.num_assignments}}</td>
		<td class="sample">S{{extract.lysate.powder_sample.sample.reich_lab_id}}</td>
		<td class="extract_batch">{{extract.extract_batch.batch_name}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</form>
</div>
</div>

<script>
	var list_options = {
		valueNames: ['checked', 'lysate_id', 'sample', 'lysate_batch'],
		searchDelay: 500
	};
	var sample_list = new List('sample_rows', list_options);
	var overall_count = 0;
	
	document.querySelectorAll("input[type=checkbox]").forEach(input => {
		input.addEventListener("click", (e) => {
			e.target.checked ? overall_count += 1 : overall_count -= 1;
			update_count();
		})
	})
	
	function update_count(){
		let overall_total = sample_list.size();
		
		let filtered_count = document.querySelectorAll('input[type="checkbox"].sample_checkbox:checked').length;
		let filtered_total = document.querySelectorAll('input[type="checkbox"].sample_checkbox').length;
		document.getElementById('sample_count').innerHTML = String(filtered_count) + " sample" + (filtered_count != 1 ? "s" : "") + " selected of " + String(filtered_total) + " filtered samples."
	}
	
	sample_list.on('updated', update_count);
	
	// toggle all checkboxes in current list, which may be search subset
	function toggle_onscreen_all(){
		var visible = sample_list.visibleItems;
		var matching = sample_list.matchingItems;
		let anybox_checked = false;
		// first pass to see whether any checkbox in this set is checked
		for (let i = 0; i < matching.length; i++) {
			let checkbox_id = 'checkbox' + matching[i]._values['lysate_id'];
			let sample_checkbox = document.getElementById(checkbox_id);
			anybox_checked ||= sample_checkbox.checked;
		}
		// second pass to set checkboxes
		for (let i = 0; i < matching.length; i++) {
			let checkbox_id = 'checkbox' + matching[i]._values['lysate_id'];
			let sample_checkbox = document.getElementById(checkbox_id);
			// box will be changed to unchecked
			if (sample_checkbox.checked && anybox_checked){
				overall_count -= 1;
			}
			// box will be changed to checked
			else if (!sample_checkbox.checked && anybox_checked){
				overall_count += 1;
			} 
			sample_checkbox.checked = !anybox_checked;
		}
		update_count();
		//alert('toggle ' + String(visible.length) + " " + String(matching.length));
	}
</script>

{% endblock %}
