{% extends "samples/reich_lab_base.html" %}

{% load static %}

{% block title %}Lysate Batch {{lysate_batch_name}} Powder Selection{% endblock %}

{% block content %}
<script src="{% static "samples/list.js" %}"></script>

<style>
th {
	position: sticky;
	top: 0;
	background: #eee;
}

#table_wrapper{
	overflow-x: auto;
	overflow-y: scroll;
	height: 85vh;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
</style>

Lysate Batch: {{lysate_batch_name}} has {{assigned_powder_samples_count}} distinct powder samples assigned {{num_assignments}} times to wells and {{control_count}} extract and library controls. These occupy {{occupied_wells}} wells. 

<form action="" method='post'>
	{% csrf_token %}
	{{ form.as_p }}
	<input id="submit_assign_only" type='submit' name='assign_only' value='Update and assign powder samples'>
	<input id="submit_assign_and_layout" type='submit' name='assign_and_layout' value='Update, assign powder samples, and perform initial layout'>
	<a href='lysate_batch_plate_layout?lysate_batch_name={{lysate_batch_name}}'>Modify Layout</a>
	<input id="submit_assign_and_fill_empty" type='submit' name='assign_and_fill_empty_with_library_controls' value='Update, assign powder samples, and fill empty with library controls'>
	<a href='lysate_batch_delete?batch_name={{lysate_batch_name}}'>Delete</a>

<legend>Samples</legend>
<div id='sample_rows'>
<div id='sample_count'></div>

<input id="list_search_field" class="search" placeholder="Search" />
<div id='table_wrapper'>
<table>
	<thead>
	<tr>
		<th><input type="checkbox" name="toggle_all_checkbox" id="toggle_all_checkbox" onclick="toggle_onscreen_all()"></th>
		<th><button class="sort" type="button" data-sort="position">Position</button></th>
		<th><button class="sort" type="button" data-sort="powder_sample_id">Powder Sample ID</button></th>
		<th><button class="sort" type="button" data-sort="sample">Sample</button></th>
		<th><button class="sort" type="button" data-sort="powder_batch">Powder Batch</button></th>
		<th><button class="sort" type="button" data-sort="expected_complexity">Expected Complexity</button></th>
	</tr>
	</thead>
	<tbody class="list">
	{% for layout_element in assigned_powder_samples %}
	<tr>
		<td class="checked">
			<input class="sample_checkbox" type="checkbox" name="powder_sample_checkboxes[]" id="checkbox{{layout_element.powder_sample.powder_sample_id}}" value="{{layout_element.id}}_{{layout_element.powder_sample.id}}" onclick="update_count()" checked>
		</td>
		<td class="position">{{layout_element}}</td>
		<td class="powder_sample_id">{{layout_element.powder_sample.powder_sample_id}}</td>
		<td class="sample">S{{layout_element.powder_sample.sample.reich_lab_id}}</td>
		<td class="powder_batch">{{layout_element.powder_sample.powder_batch.name}}</td>
		<td class="expected_complexity">{{layout_element.powder_sample.sample.expected_complexity.description}}</td>
	</tr>
	{% endfor %}
	{% for powder_sample in powder_samples %}
	<tr>
		<td class="checked">
			<input class="sample_checkbox" type="checkbox" name="powder_sample_checkboxes[]" id="checkbox{{powder_sample.powder_sample_id}}" value="_{{powder_sample.id}}" onclick="update_count()" {% if powder_sample.assigned_to_lysate_batch > 0 %}checked{% endif %}>
		</td>
		<td class="position">N/A</td>
		<td class="powder_sample_id">{{powder_sample.powder_sample_id}}</td>
		<td class="sample">S{{powder_sample.sample.reich_lab_id}}</td>
		<td class="powder_batch">{{powder_sample.powder_batch.name}}</td>
		<td class="expected_complexity">{{powder_sample.sample.expected_complexity.description}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</form>
</div>
</div>

<script>
	var list_options = {
		valueNames: ['checked', 'position', 'powder_sample_id', 'sample', 'powder_batch', 'expected_complexity'],
		searchColumns: ['powder_batch', 'expected_complexity'],
		searchDelay: 500
	};
	var sample_list = new List('sample_rows', list_options);
	var overall_count = document.querySelectorAll('input[type="checkbox"].sample_checkbox:checked').length;
	
	document.querySelectorAll("input[type=checkbox]").forEach(input => {
		input.addEventListener("click", (e) => {
			e.target.checked ? overall_count += 1 : overall_count -= 1;
			update_count();
		})
	})
	
	function update_count(){
		let overall_total = sample_list.size();
		
		let filtered_count = document.querySelectorAll('input[type="checkbox"].sample_checkbox:checked').length;
		let filtered_total = document.querySelectorAll('input[type="checkbox"].sample_checkbox').length;
		document.getElementById('sample_count').innerHTML = String(filtered_count) + " sample" + (filtered_count != 1 ? "s" : "") + " selected of " + String(filtered_total) + " filtered powder samples. ";// + String(overall_count) + " selected of " + String(overall_total) + " total powder samples.";
	}
	
	sample_list.on('updated', update_count);
	
	function clear_search(){
		var search_field = document.getElementById("list_search_field");
		search_field.value = "";
		sample_list.search()
	}
	
	// clear search upon submission
	for (let submit_button_str of ["submit_assign_only", "submit_assign_and_layout", "submit_assign_and_fill_empty"]){
		let submit_button = document.getElementById(submit_button_str);
		if (submit_button.addEventListener)
			submit_button.addEventListener("click", clear_search);
	}
	
	// toggle all checkboxes in current list, which may be search subset
	function toggle_onscreen_all(){
		var visible = sample_list.visibleItems;
		var matching = sample_list.matchingItems;
		let anybox_checked = false;
		// first pass to see whether any checkbox in this set is checked
		for (let i = 0; i < matching.length; i++) {
			let checkbox_id = 'checkbox' + matching[i]._values['powder_sample_id'];
			let sample_checkbox = document.getElementById(checkbox_id);
			anybox_checked ||= sample_checkbox.checked;
		}
		// second pass to set checkboxes
		for (let i = 0; i < matching.length; i++) {
			let checkbox_id = 'checkbox' + matching[i]._values['powder_sample_id'];
			let sample_checkbox = document.getElementById(checkbox_id);
			// box will be changed to unchecked
			if (sample_checkbox.checked && anybox_checked){
				overall_count -= 1;
			}
			// box will be changed to checked
			else if (!sample_checkbox.checked && anybox_checked){
				overall_count += 1;
			} 
			sample_checkbox.checked = !anybox_checked;
		}
		update_count();
		//alert('toggle ' + String(visible.length) + " " + String(matching.length));
	}
</script>

{% endblock %}
