{% extends "samples/reich_lab_base.html" %}

{% load static %}

{% block title %}Reich Lab Ancient DNA Powder Batches{% endblock %}

{% block content %}
<script src="{% static "samples/list.js" %}"></script>

<style>
th {
	position: sticky;
	top: 0;
	background: #eee;
}

#table_wrapper{
	overflow-x: auto;
	overflow-y: scroll;
	height: 85vh;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
</style>

<form action="" method='post'>
	{% csrf_token %}
	{{ form.as_p }}
	<input type='submit' value='Create Powder Batch'>
</form>

<hr>

<div id='powder_batch_rows'>

<input class="search" placeholder="Search" />
<div id='table_wrapper'>
<table>
	<thead>
	<tr>
		<th><button class="sort" data-sort="name" data-default-order='desc'>Name</button></th>
		<th><button class="sort" data-sort="date">Date</button></th>
		<th><button class="sort" data-sort="technician">Technician</button></th>
		<th><button class="sort" data-sort="status">Status</button></th>
		<th><button class="sort" data-sort="num_sample_prep">Num Sample Prep Entries</button></th>
		<th><button class="sort" data-sort="num_powder_samples">Num Powder Samples</button></th>
		<th><button class="sort" data-sort="low_complexity">Low complexity</button></th>
		<th><button class="sort" data-sort="high_complexity">High complexity</button></th>
		<th><button class="sort" data-sort="lysate_batch">Lysate Batch</button></th>
		<th><button class="sort" data-sort="notes">Notes</button></th>
	</tr>
	</thead>
	<tbody class="list">
	{% for powder_batch in powder_batches %}
	<tr>
		{% if powder_batch.status == powder_batch.OPEN %}
		<td class="name"><a href="powder_batch_assign_samples?name={{powder_batch.name}}">{{powder_batch.name}}</a></td>
		{% else %}
		<td class="name"><a href="powder_samples?powder_batch={{powder_batch.name}}">{{powder_batch.name}}</a></td>
		{% endif %}
		<td class="date">{{powder_batch.date|date:'Y-m-d'}}</td>
		<td class="technician">{{powder_batch.technician}}</td>
		<td class="status">{{powder_batch.status}}</td>
		<td class="num_sample_prep">{{powder_batch.sampleprepqueue__count}}</td>
		<td class="num_powder_samples">{{powder_batch.powdersample__count}}</td>
		<td class="low_complexity_count">{{powder_batch.low_complexity_count}}</td>
		<td class="high_complexity_count">{{powder_batch.high_complexity_count}}</td>
		<td class="lysate_batch">
			{% for lysate_batch in powder_batch.lysatebatch_set.all %}
				<a href="lysate_batch_assign_powder_batches?lysate_batch_name={{lysate_batch.batch_name}}">{{lysate_batch.batch_name}}</a>
			{% endfor %}
		</td>
		<td class="notes">{{powder_batch.notes}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</div>
</div>

<script>
	var list_options = {
		valueNames: ['name', 'date', 'technician', 'status', 'num_sample_prep', 'num_powder_samples', 'lysate_batch', 'notes'],
		searchDelay: 500
	};
	var powder_batch_list = new List('powder_batch_rows', list_options);
	//document.addEventListener("load", powder_batch_list.sort('date', { order: 'desc'}));
</script>

{% endblock %}
