{% extends "samples/reich_lab_base.html" %}

{% load static %}

{% block title %}Powder Samples {{powder_batch_name}} {% endblock %}

{% block content %}

<form action="" method='post'>
	{% csrf_token %}
	{{ powder_batch_form.as_p }}

<hr>

	<input type='submit' value='Update Powder Batch and Samples'>
	{{ formset.management_form }}
	
	<table>
	<thead>
	<tr>
		<th>Photos</th>
		{% for field in formset.0.visible_fields %}
			<th>{{ field.label_tag }}</th>
		{% endfor %}
	</tr>
	</thead>
	
	<tr>
		<td></td>
		{% for field in formset.0.visible_fields %}
			<td>
				{{ field.help_text }}
			</td>
		{% endfor %}
	</tr>
	
	{% for form in formset %}
	<tr>
		{{ form.id }}
		<td><a href="sample?sample={{form.reich_lab_sample.value}}">{{form.reich_lab_sample.value}}</a></td>
		{% for field in form.visible_fields %}
			<td>
			{{ field.errors }}
			{{ field }}
			</td>
		{% endfor %}
	</tr>
	{% endfor %}
	</table>
</form>

{% endblock %}
