<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'samples/style.css' %}" >
<title>{% block title %}Reich Lab Ancient DNA{% endblock %}</title>
</head>

<body>
	<div class="row">
		<div id="sidebar" class="column side">
			{% block sidebar %}
			<ul>
				<li><a href="/samples/landing">Home</a></li>
				<li><a href="/samples/sample_prep_queue">Edit Sample Prep Queue</a></li>
				<li><a href="/samples/sample_prep_queue_view">See Sample Prep Queue</a></li>
				<li><a href="/samples/control_sets">Control Layouts</a></li>
				<li><a href="/samples/powder_batches">Powder Batches</a></li>
				<li><a href="/samples/extraction_protocols">Extraction Protocols</a></li>
				<li><a href="/samples/lysate_batch">Lysate Batch</a></li>
				<li><a href="/samples/lost_powder">Lost Powder</a></li>
				<li><a href="/samples/extract_batch">Extract Batch</a></li>
				<li><a href="/samples/lost_lysate">Lost Lysate</a></li>
				<li><a href="/samples/library_batches">Library Batches</a></li>
				<li><a href="/samples/capture_batches">Capture Batches</a></li>
				<li><a href="/samples/storage_all">Storage</a></li>
				<li>{% if user.is_authenticated %} Logged in as: {{ user.username }} {% endif %}</li>
				<li><a href="/samples/logout">Logout</a></li>
				<li><a href="/samples/password_change">Change Password</a></li>
			</ul>
			{% endblock %}
		</div>

		<div id="content" class="column middle">
			{% block content %}{% endblock %}
		</div>
	</div>
</body>
</html> 
