{% extends "samples/reich_lab_base.html" %}

{% load static %}

{% block title %}Reich Lab Ancient DNA Sample Selection{% endblock %}

{% block content %}
<script src="{% static "samples/list.js" %}"></script>

<style>
th {
	position: sticky;
	top: 0;
	background: #eee;
}

table{
	overflow-y: scroll;
	height: 85vh;
	display: block;
}
</style>

<script>
	function update_count(){
		var count = document.querySelectorAll('input[type="checkbox"]:checked').length;
		document.getElementById('sample_count').innerHTML = count;
	}
</script>

<fieldset>
<legend>Samples</legend>
<div id='sample_rows'>
<input class="search" placeholder="Search" />
<table>
	<thead>
	<tr>
		<th><div id='sample_count'></div></th>
		<th><button class="sort" data-sort="queue_id">Queue ID</button></th>
		<th><button class="sort" data-sort="collaborator">Collaborator</button></th>
		<th><button class="sort" data-sort="skeletal_element">Skeletal Element</button></th>
		<th><button class="sort" data-sort="skeletal_code">Skeletal Code</button></th>
		<th><button class="sort" data-sort="country">Country</button></th>
		<th><button class="sort" data-sort="region">Region</button></th>
		<th><button class="sort" data-sort="period">Period</button></th>
		<th><button class="sort" data-sort="culture">Culture</button></th>
		<th><button class="sort" data-sort="morphological_sex">Morphological Sex</button></th>
		<th><button class="sort" data-sort="morphological_age">Morphological Age</button></th>
	</tr>
	</thead>
	<tbody class="list">
	{% for sample in samples %}
	<tr>
		<td class="checked">
			<!-- <label for="checkbox{{sample.queue_id}}">{{sample.queue_id}}</label> -->
			<input type="checkbox" name="checkbox{{sample.queue_id}}" id="checkbox{{sample.queue_id}}" onclick="update_count()">
		</td>
		<td class="queue_id">{{sample.queue_id}}</td>
		<td class="collaborator">{{sample.collaborator.first_name}} {{sample.collaborator.last_name}}</td>
		<td class="skeletal_element">{{sample.skeletal_element}}</td>
		<td class="skeletal_code">{{sample.skeletal_code}}</td>
		<td class="country">{{sample.country_fk.country_name}}</td>
		<td class="region">{{sample.country_fk.region}}</td>
		<td class="period">{{sample.period}}</td>
		<td class="morphological_sex">{{sample.morphological_sex}}</td>
		<td class="morphological_age">{{sample.morphological_age}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</div>
</fieldset>

<script>
	var list_options = {
		valueNames: ['checked', 'queue_id', 'collaborator', 'skeletal_element', 'skeletal_code', 'country', 'region']
	};
	var sample_list = new List('sample_rows', list_options);
</script>

{% endblock %}
