{% extends "samples/reich_lab_base.html" %}

{% load static %}

{% block title %}Sample Archaeology and Analysis{% endblock %}

{% block content %}

<ul>
	<li><a href="/samples/sample_archaeology_update_headers">Download Sample Site Data with Headers</a></li>
	<li><a href="/samples/sample_archaeology_update">Sample Site Updater</a></li>
	<li><a href="/samples/sample_archaeology_sites">Sites</a></li>
	<li><a href="/samples/sample_archaeology_periods">Periods</a></li>
	<li><a href="/samples/sample_archaeology_cultures">Cultures</a></li>
	<li><a href="/samples/sample_archaeology_anno">Anno</a></li>
	<li><a href="/samples/genetic_analysis_new_headers">New Genetic Analysis Headers</a></li>
	<li><a href="/samples/genetic_analysis_new">New Genetic Analyses</a></li>
	<li><a href="/samples/genetic_analysis_assessment_update_headers">Genetic Analyses Assessment Update Headers</a></li>
	<li><a href="/samples/genetic_analysis_assessment_update">Genetic Analyses Assessment Update</a></li>
	<li><a href="/samples/publication_update_headers">Download Publication Headers</a></li>
	<li><a href="/samples/publication_update">Publication Batch Update</a></li>
	<li><a href="/samples/publications">Publications</a></li>
	<li><a href="/samples/publication_types">Publication Types</a></li>
	<li><a href="/samples/publication_sample_update_headers">Publication Sample Assignment Headers</a></li>
	<li><a href="/samples/publication_sample_update">Publication Sample Assignment</a></li>
	<li><a href="/samples/collaborators">Collaborators</a></li>
</ul>

{% endblock %}
