{% load static %}

<link rel="stylesheet" href="{% static "jquery-ui/jquery-ui.min.css" %}" />
<link rel="stylesheet" href="{% static "jquery-ui/themes/ui-lightness/theme.css" %}" />

<script src="{% static "jquery-ui/external/jquery/jquery.js" %}"></script>
<script src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
<script src="{% static "samples/list.js" %}"></script>

<style>
th {
	position: sticky;
	top: 0;
}
</style>

<body>
{% if user.is_authenticated %} {{ user.username }} {% endif %}
<div id='sample_count'>
	
</div>

<fieldset>
<legend>Samples</legend>
<div id='sample_rows'>
<input class="search" placeholder="Search" />
<table>
	<th>
		<td><button class="sort" data-sort="checked">Selected</button></td>
		<td><button class="sort" data-sort="queue_id">Queue ID</button></td>
		<td><button class="sort" data-sort="collaborator">Collaborator</button></td>
		<td><button class="sort" data-sort="skeletal_element">Skeletal Element</button></td>
		<td><button class="sort" data-sort="skeletal_code">Skeletal Code</button></td>
	</th>
	<tbody class="list">
	{% for sample in samples %}
	<tr>
		<td class="checked">
			<!-- <label for="checkbox{{sample.queue_id}}">{{sample.queue_id}}</label> -->
			<input type="checkbox" name="checkbox{{sample.queue_id}}" id="checkbox{{sample.queue_id}}">
		</td>
		<td class="queue_id">{{sample.queue_id}}</td>
		<td class="collaborator">{{sample.collaborator.first_name}} {{sample.collaborator.last_name}}</td>
		<td class="skeletal_element">{{sample.skeletal_element}}</td>
		<td class="skeletal_code">{{sample.skeletal_code}}</td>
		<td class="country">{{sample.country_fk.country_name}}</td>
		<td class="region">{{sample.country_fk.region}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</div>
</fieldset>
</body>

<script>
	var list_options = {
		valueNames: ['checked', 'queue_id', 'collaborator', 'skeletal_element', 'skeletal_code', 'country', 'region']
	};
	var sample_list = new List('sample_rows', list_options);
</script>
