{% extends "samples/reich_lab_base.html" %}

{% load static %}

{% block title %}Sample{% endblock %}

{% block content %}

<h2>Select Sample</h2>
<form action="" method='post'>
{% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Query sample'>
</form>

{% if reich_lab_sample_number %}
<h2>Sample {{reich_lab_sample_number}}</h2>
<a href="sample_edit?reich_lab_id={{sample.reich_lab_id}}">Edit sample</a>
{% elif external_id %}
<h2>Sample {{external_id}}</h2>
<a href="sample_edit?external_id={{sample.external_id}}">Edit sample</a>
{% else %}
<h2>Sample</h2>
{% endif %}

<table>
<tr>
	<th>Collaborator</th>
	<th>collaborator_code</th>
	<th>skeletal_code (Reich Lab)</th>
	<th>burial_code</th>
	<th>site_name</th>
	<th>Individual ID</th>
	<th>Locality</th>
	<th>Group Label</th>
	<th>Manual date</th>
</tr>
<tr>
	<td>{{ sample.collaborator.name }}</td>
	<td>{{ sample.collaborator_code }}</td>
	<td>{{ sample.skeletal_code }}</td>
	<td><a href="sample_archaeological_assemblage?archaeological_assemblage_pk={{sample.archaeological_assemblage.id}}">
	{% if sample.archaeological_assemblage.burial_code == '' %}
	[BLANK]
	{% else %}
	{{ sample.archaeological_assemblage.burial_code }}
	{% endif %}
	</a></td>
	<td><a href="sample_archaeology_site?site_pk={{sample.archaeological_assemblage.site.id}}">{{ sample.archaeological_assemblage.site.site }}</a></td>
	<td>{{ sample.individual_id }}</td>
	<td>{{ sample.location_str }}</td>
	<td>{{ sample.get_group_label }}</td>
	<td>{{ sample.sample_date }}</td>
</tr>
</table>

<br>

<table>
<tr>
	<th>Source</th>
	<th>Label</th>
	<th>Date (BP)</th>
	<th>Date stdev</th>
	<th>Date range</th>
</tr>
{% for date_entry in date_entries %}
<tr>
	<td>{{date_entry.source}}</td>
	<td>{{date_entry.label}}</td>
	<td>{{date_entry.date_bp}}</td>
	<td>{{date_entry.date_stdev}}</td>
	<td>{{date_entry.date_range}}</td>
</tr>
{% endfor %}
</table>

<br>

<table>
<tr>
	<th>Powder Sample</th>
	<th>Powder Batch</th>
	<th>Photos</th>
	<th>Powder produced (mg)</th>
	<th>Powder remaining (mg)</th>
</tr>
{% for powder_sample in powder_samples %}
<tr>
	<td>{{ powder_sample.powder_sample_id }}</td>
	<td><a href="powder_samples?powder_batch={{ powder_sample.powder_batch.name }}">{{ powder_sample.powder_batch.name }}</a></td>
	<td>
		{% if reich_lab_sample_number %}
		<a href="sample?sample=S{{reich_lab_sample_number}}">S{{reich_lab_sample_number}}</a>
		{% endif %}
	</td>
	<td>{{ powder_sample.total_powder_produced_mg | floatformat }}</td>
	<td>{{ powder_sample.powder_remaining | floatformat }}</td>
</tr>
{% endfor %}
</table>
{% if reich_lab_sample_number %}
<a href="sample?sample=S{{reich_lab_sample_number}}">S{{reich_lab_sample_number}} photos</a>
{% endif %}

<br>

<table>
<tr>
	<th>Lysate</th>
	<th>Lysate Batch</th>
	<th>FluidX Barcode</th>
	<th>Powder Used (mg) [layout]</th>
	<th>Powder Used (mg)</th>
	<th>Lysate Produced (micro L)</th>
	<th>Lysate Remaining (micro L)</th>
</tr>
{% for lysate_layout in lysate_layouts %}
<tr>
	<td>{{ lysate_layout.lysate.lysate_id }}</td>
	<td><a href="lysates_in_batch?lysate_batch_name={{ lysate_layout.lysate.lysate_batch.batch_name }}">{{  lysate_layout.lysate_batch.batch_name }}</a></td>
	<td>{{ lysate_layout.lysate.barcode }}</td>
	<td>{{ lysate_layout.powder_used_mg | floatformat }}</td>
	<td>{{ lysate_layout.lysate.powder_used_mg | floatformat }}</td>
	<td>{{ lysate_layout.lysate.total_volume_produced | floatformat }}</td>
	<td>{{ lysate_layout.lysate.remaining | floatformat }}</td>
</tr>
{% endfor %}
</table>

<br>

<table>
<tr>
	<th>Extract</th>
	<th>Extract Batch</th>
	<th>Extract Protocol Volume</th>
	<th>Lysate used (micro L) [layout]</th>
	<th>Lysate used (micro L)</th>
	<th>Powder Used (mg) [layout]</th>
	<th>Extract Remaining (micro L)</th>
</tr>
{% for extract_layout in extract_layouts %}
<tr>
	<td>{{ extract_layout.extract.extract_id }}</td>
	<td><a href="extracts_in_batch?extract_batch_name={{ extract_layout.extract.extract_batch.batch_name }}">{{ extract_layout.extract.extract_batch.batch_name }}</a></td>
	<td>{{ extract_layout.extract_batch.protocol.final_extract_volume | floatformat }}</td>
	<td>{{ extract_layout.lysate_volume_used | floatformat }}</td>
	<td>{{ extract_layout.extract.lysis_volume_extracted | floatformat }}</td>
	<td>{{ extract_layout.powder_used_mg | floatformat }}</td>
	<td>{{ extract_layout.extract.remaining | floatformat }}</td>
</tr>
{% endfor %}
</table>

<br>

<table>
<tr>
	<th>Library</th>
	<th>Library Batch</th>
	<th>Library Batch Date</th>
	<th>FluidX Barcode</th>
	<th>Library Type</th>
	<th>UDG treatment</th>
	<th>extract used (micro L) [layout]</th>
	<th>extract used (micro L)</th>
	<th>powder used equivalent (mg)</th>
</tr>
{% for library_layout in library_layouts %}
<tr>
	<td>{{ library_layout.library.reich_lab_library_id }}</td>
	<td><a href="libraries_in_batch?library_batch_name={{ library_layout.library_batch.name }}">{{ library_layout.library_batch.name }}</a></td>
	<td>{{ library_layout.library_batch.prep_date |date:'Y-m-d' }}</td>
	<td>{{ library_layout.library.fluidx_barcode }}</td>
	<td>{{ library_layout.library.library_type }}</td>
	<td>{{ library_layout.library.udg_treatment }}</td>
	<td>{{ library_layout.ul_extract_used | floatformat }}</td>
	<td>{{ library_layout.library.ul_extract_used | floatformat }}</td>
	<td>{{ library_layout.library.powder_equivalent | floatformat }}</td>
</tr>
{% endfor %}
</table>

<br>

<table>
<tr>
	<th>Indexed Library</th>
	<th>Capture</th>
	<th>Experiment</th>
	<th>Sequencing Runs</th>
</tr>
{% for captured_library in captured_libraries %}
<tr>
	<td>{{ captured_library.library.reich_lab_library_id }}</td>
	<td><a href="captures_in_batch?capture_batch_name={{ captured_library.capture_batch.name }}">{{ captured_library.capture_batch.name }}</a></td>
	<td>{{ captured_library.capture_batch.protocol.name }}</td>
	<td>
		{% for sequencing_run in captured_library.sequencingrun_set.all %}
		{% if not forloop.first %}, {% endif %}
		<a href="sequencing_run_assign_captures?sequencing_run_name={{ sequencing_run.name }}">{{ sequencing_run.name }}</a>
		{% endfor %}
	</td>
</tr>
{% endfor %}
</table>

{% endblock %}
