{% extends "samples/reich_lab_base.html" %}

{% load static %}

{% block title %}Sample{% endblock %}

{% block content %}

<style>
img{
	max-width: 100%;
	height: auto;
}

figure{
	border: 4px solid blue;
}
</style>

Sample {{reich_lab_sample_number}}

<form action="" method='post' enctype="multipart/form-data">
	{% csrf_token %}
	{{ form }}
	<input type='submit' value='Upload image'>
</form>

{% for image in images %}
<figure>
<img src="{{MEDIA_URL}}{{image}}" alt="{{image}}">
<figcaption>{{image}}</figcaption>
<a href="delete_sample_photo?photo_filename={{image}}&reich_lab_sample_number={{reich_lab_sample_number}}">Delete {{image}}</a>
</figure>
{% endfor %}

</figure>

{% endblock %}
