{% extends "samples/reich_lab_base.html" %}

{% load static %}

{% block title %}Sample Sites{% endblock %}

{% block content %}
<script src="{% static "samples/list.js" %}"></script>

<style>
th {
	position: sticky;
	top: 0;
	background: #eee;
}

#table_wrapper{
	overflow-x: auto;
	overflow-y: scroll;
	height: 85vh;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
</style>

<form action="" method='post'>
{% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Create Site'>
</form>

<hr>

<div id='sites_rows'>

<input class="search" placeholder="Search" />
<div id='table_wrapper'>
<table>
	<thead>
	<tr>
		<th><button class="sort" data-sort="site" data-default-order='desc'>Site</button></th>
		<th><button class="sort" data-sort="country">Country</button></th>
		<th><button class="sort" data-sort="level_1">Level 1</button></th>
		<th><button class="sort" data-sort="level_2">Level 2</button></th>
		<th><button class="sort" data-sort="level_3">Level 3</button></th>
		<th><button class="sort" data-sort="level_4">Level 4</button></th>
		<th><button class="sort" data-sort="level_5">Level 5</button></th>
		<th><button class="sort" data-sort="latitude">Latitude</button></th>
		<th><button class="sort" data-sort="longitude">Logitude</button></th>
		<th><button class="sort" data-sort="ecological_zone">Ecological Zone</button></th>
		<th><button class="sort" data-sort="river_basin">River Basin</button></th>
		<th><button class="sort" data-sort="mountain">Mountain</button></th>
		
	</tr>
	</thead>
	<tbody class="list">
	{% for site in sites %}
	<tr>
		<td class="site"><a href="sample_archaeology_site?site_pk={{site.pk}}">{{site.site}}</a></td>
		<td class="country">{{site.country.country_name}}</td>
		<td class="level_1">{{site.level_1}}</td>
		<td class="level_2">{{site.level_2}}</td>
		<td class="level_3">{{site.level_3}}</td>
		<td class="level_4">{{site.level_4}}</td>
		<td class="level_5">{{site.level_5}}</td>
		<td class="latitude">{{site.latitude}}</td>
		<td class="longitude">{{site.longitude}}</td>
		<td class="ecological_zone">{{site.ecological_zone}}</td>
		<td class="river_basin">{{site.river_basin}}</td>
		<td class="mountain">{{site.mountain}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</div>
</div>

<script>
	var list_options = {
		valueNames: ['site', 'country', 'level_1', 'level_2', 'level_3', 'level_4', 'level_5', 'latitude', 'longitude', 'ecological_zone', 'river_basin', 'mountain'
		],
		searchColumns: ['site', 'country', 'level_1', 'level_2', 'level_3', 'level_4', 'level_5', 'latitude', 'longitude', 'ecological_zone', 'river_basin', 'mountain'],
		searchDelay: 500
	};
	var powder_batch_list = new List('sites_rows', list_options);
</script>

{% endblock %}
