{% extends "samples/reich_lab_base.html" %}

{% load static %}

{% block title %}Sample{% endblock %}

{% block content %}

<h2>Select Sample</h2>
<form action="" method='post'>
{% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Query sample'>
</form>

<h2>Sample {{reich_lab_sample_number}}</h2>

<table>
<tr>
	<th>Powder Sample</th>
	<th>Powder Batch</th>
</tr>
{% for powder_sample in powder_samples %}
<tr>
	<td>{{ powder_sample.powder_sample_id }}</td>
	<td><a href="powder_samples?powder_batch={{ powder_sample.powder_batch.name }}">{{ powder_sample.powder_batch.name }}</a></td>
</tr>
{% endfor %}
</table>

<br>

<table>
<tr>
	<th>Lysate</th>
	<th>Lysate Batch</th>
	<th>FluidX Barcode</th>
</tr>
{% for lysate in lysates %}
<tr>
	<td>{{ lysate.lysate_id }}</td>
	<td><a href="lysates_in_batch?lysate_batch_name={{ lysate.lysate_batch.batch_name }}">{{  lysate.lysate_batch.batch_name }}</a></td>
	<td>{{ lysate.barcode }}</td>
</tr>
{% endfor %}
</table>

<br>

<table>
<tr>
	<th>Extract</th>
	<th>Extract Batch</th>
</tr>
{% for extract in extracts %}
<tr>
	<td>{{ extract.extract_id }}</td>
	<td><a href="extracts_in_batch?extract_batch_name={{ extract.extract_batch.batch_name }}">{{ extract.extract_batch.batch_name }}</a></td>
</tr>
{% endfor %}
</table>

<br>

<table>
<tr>
	<th>Library</th>
	<th>Library Batch</th>
	<th>FluidX Barcode</th>
</tr>
{% for library in libraries %}
<tr>
	<td>{{ library.reich_lab_library_id }}</td>
	<td><a href="libraries_in_batch?library_batch_name={{ library.library_batch.name }}">{{ library.library_batch.name }}</a></td>
	<td>{{ library.fluidx_barcode }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
