{% extends "samples/reich_lab_base.html" %}

{% load static %}

{% block title %}Sample Archaeology{% endblock %}

{% block content %}

<ul>
	<li><a href="/samples/sample_archaeology_update_headers">Download Sample Site Updater Headers</a></li>
	<li><a href="/samples/sample_archaeology_update">Sample Site Updater</a></li>
	<li><a href="/samples/sample_archaeology_sites">Sites</a></li>
	<li><a href="/samples/sample_archaeology_periods">Periods</a></li>
	<li><a href="/samples/sample_archaeology_cultures">Cultures</a></li>
	<li><a href="/samples/sample_archaeology_anno">Anno</a></li>
	<li><a href="/samples/publication_update_headers">Download Publication Headers</a></li>
	<li><a href="/samples/publication_update">Publication Batch Update</a></li>
	<li><a href="/samples/publications">Publications</a></li>
	<li><a href="/samples/publication_types">Publication Types</a></li>
	<li><a href="/samples/publication_sample_update_headers">Publication Sample Assignment Headers</a></li>
	<li><a href="/samples/publication_sample_update">Publication Sample Assignment</a></li>
</ul>

{% endblock %}
