{% extends "samples/reich_lab_base.html" %}

{% load static %}

{% block title %}Sequencing Platforms{% endblock %}

{% block content %}
<script src="{% static "samples/list.js" %}"></script>

<style>
th {
	position: sticky;
	top: 0;
	background: #eee;
}

#table_wrapper{
	overflow-x: auto;
	overflow-y: scroll;
	height: 85vh;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
</style>

<form action="" method='post'>
	{% csrf_token %}
	{{ form.as_p }}
	<input type='submit' value='Create Sequencing Platform'>
</form>

<hr>

<div id='sequencing_platforms'>

<input class="search" placeholder="Search" />
<div id='table_wrapper'>
<table>
	<thead>
	<tr>
		<th><button class="sort" data-sort="platform">Name</button></th>
		<th><button class="sort" data-sort="location">Location</button></th>
		<th><button class="sort" data-sort="active">Active</button></th>
		<th><button class="sort" data-sort="notes">Notes</button></th>
	</tr>
	</thead>
	<tbody class="list">
	{% for sequencing_platform in sequencing_platforms %}
	<tr>
		<td class="platform"><a href="sequencing_platform?sequencing_platform_id={{sequencing_platform.id}}">{{sequencing_platform.platform}}</a></td>
		<td class="location">{{sequencing_platform.location}}</td>
		<td class="active">{{sequencing_platform.active}}</td>
		<td class="notes">{{sequencing_platform.note}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</div>
</div>

<script>
	var list_options = {
		valueNames: ['platform', 'location', 'active', 'notes'],
		searchDelay: 500
	};
	var sequencing_platform_list = new List('sequencing_platforms', list_options);
</script>

{% endblock %}
