{% extends "samples/reich_lab_base.html" %}

{% load static %}

{% block title %}Setup and Lost Material{% endblock %}

{% block content %}

<ul>
	<li><a href="/samples/lost_powder">Lost Powder</a></li>
	<li><a href="/samples/lost_lysate">Lost Lysate</a></li>

	<li><a href="/samples/control_sets">Control Layouts</a></li>
	<li><a href="/samples/extraction_protocols">Extraction Protocols</a></li>
	<li><a href="/samples/library_protocols">Library Protocols</a></li>
	<li><a href="/samples/capture_protocols">Capture Protocols</a></li>
	<li><a href="/samples/sequencing_platforms">Sequencing Platforms</a></li>
	
	<li><a href="/samples/storage_all">Storage</a></li>
</ul>

{% endblock %}
