{% load static %}

<link rel="stylesheet" href="{% static "jquery-ui/jquery-ui.min.css" %}" />
<link rel="stylesheet" href="{% static "jquery-ui/themes/ui-lightness/theme.css" %}" />

<script src="{% static "jquery-ui/external/jquery/jquery.js" %}"></script>
<script src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>

<style>
	{% for row in rows %}
		{% for column in columns %}
			#{{ row }}{{ column }} { width: 130px; height: 100px; padding: 0.0em; float: left; margin: 0px; }
		{% endfor %}
	{% endfor %}
	
	{% for library_id, position_and_widget_ui in libraries_map.items %}
		#{{ position_and_widget_ui.widget_id }} { width: 110px; height: 30px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
	{% endfor %}
</style>

<script>
	// 
	var libraries_map_js = {};
	{% for library_id, position_and_widget_ui in libraries_map.items %}
		libraries_map_js[ "{{ library_id }}" ] = {
			widget_id:"{{ position_and_widget_ui.widget_id }}", 
			position:"{{ position_and_widget_ui.position }}",
			library_id:"{{ library_id }}"
		};
	{% endfor %}
	var libraries_by_position = {}; // library ids contained in well location
	

	function remove_library_from_old_position(library_map_entry){
		var position_list = libraries_by_position[library_map_entry.position]
		if (position_list != null){
			var index = position_list.indexOf(library_map_entry.library_id);
			if (index >= 0){
				position_list.splice(index, 1);
			}
		}
	}
	
	function position_library(library_map_entry){
		// put library in well position list
		if (!libraries_by_position[library_map_entry.position]){
			libraries_by_position[library_map_entry.position] = [];
		}
		libraries_by_position[library_map_entry.position].push(library_map_entry.library_id);
		library_position_gui(library_map_entry);
	}
		
	function library_position_gui(library_map_entry){
		$( "#" + library_map_entry.widget_id ).position({
			of: $( "#" + library_map_entry.position ),
			my: "left top",
			at: "left center"
		});
	}
	
	function library_dropped_in_well_position(library_map_entry, well_position){
		remove_library_from_old_position(library_map_entry);
		library_map_entry.position = well_position;
		library_position_gui(library_map_entry, well_position);
	}
	
	function position_all_libraries(libraries_map_js){
		for(library_map_entry in libraries_map_js){
			position_library(libraries_map_js[library_map_entry]);
		}
	}
	
	$( function() {
		{% for row in rows %}
			{% for column in columns %}
				$( "#{{ row }}{{ column }}" ).droppable({
					classes: {
						"ui-droppable-hover": "ui-state-hover"
					},
					drop: function( event, ui ) {
						var well_position = "{{ row }}{{ column }}"
						var library_id = ui.draggable[0].getAttribute('library_id');
						var library_map_entry = libraries_map_js[library_id];
						library_dropped_in_well_position(library_map_entry, well_position);
					}
				});
			{% endfor %}
		{% endfor %}
	
		{% for library_id, position_and_widget_ui in libraries_map.items %}
			$( "#{{ position_and_widget_ui.widget_id }}" ).draggable( { snap: ".ui-widget-header", snapMode: "inner", revert: "invalid" } );
		{% endfor %}
		position_all_libraries(libraries_map_js);
	} );
</script>

<script>
	function library_position_callback(){
		console.log('position callback')
	}
</script>

<script>
	function send_well_plate_layout(){
		$.ajax({
			method: 'POST',
			url: 'samples/well',
			dataType: 'json',
			data: libraries_map
		})
		.done(function(data) {
			alert(data);
		})
		.fail (function( jqXHR, textStatus ) {
			console.log( "Request failed: " + textStatus );
		});
	}
</script>

<body>
<table id=well_plate_layout>
{% for row in rows %}
	<tr>
	{% for column in columns %}
		<td>
			<div id="{{ row }}{{ column }}" class="ui-widget-header">
				<p>{{ row }}{{ column }}</p>
			</div>
		</td>
	{% endfor %}
	</tr>
{% endfor %}
</table>

{% for library_id, position_and_widget_ui in libraries_map.items %}
	<div id="{{ position_and_widget_ui.widget_id }}" class="draggable ui-widget-content positionable" library_id="{{ library_id }}">
		<p>{{ library_id }}</p>
	</div>
{% endfor %}

</body>
